/* фон: #FFFFFF */
/* вторичный фон: #F5F4FA */
/* footer color: #2F303A */
/* акцент: #2196F3 */
/* первичный цвет текста: #757575 */
/* вторичный цвет текста: #212121 */
:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --accent: #2196f3;
  --white-color: #ffffff;
  --secondary-background-color: #f5f4fa;

  --card-set-gap: 30px;

  --time-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-color-text);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* list */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding {
  padding-bottom: 0;
}

.invisible {
  color: transparent;
  font-size: 0;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.header,
.site-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color-text);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--time-animation);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent);
}

.header-nav__link--current {
  color: var(--accent);
  position: relative;
}

.header-nav__link--current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;

  position: absolute;
  left: 0;
  bottom: -1px;

  background: var(--accent);
  border-radius: 2px;

  animation: current 400ms var(--time-animation);
}

.header-conn {
  display: flex;
  margin-left: auto;
}

.header-conn__item:not(:last-child) {
  margin-right: 50px;
}

.header-conn__link {
  color: inherit;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: inline-flex;
  align-items: center;

  transition: color 250ms var(--time-animation);
}

.header-conn__link:hover,
.header-conn__link:focus {
  color: var(--accent);
}

.header-conn__link:hover .conn-icon,
.header-conn__link:focus .conn-icon {
  fill: var(--accent);
}

.conn-icon {
  fill: var(--primary-color-text);
  margin-right: 10px;

  transition: fill 250ms var(--time-animation);
}

/* header logo */
.logo-header {
  margin-right: 93px;

  color: #000000;
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent);
}

/* footer */
.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-color);
  text-decoration: none;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-conntacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-conntacts__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms var(--time-animation);
}

.footer-conntacts__link:hover,
.footer-conntacts__link:focus {
  color: var(--accent);
}

.footer-conntacts__address {
  margin-bottom: 9px;

  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-social__text {
  display: block;
  color: var(--white-color);

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-social__list {
  display: flex;
}

.footer-social__icon {
  fill: var(--white-color);
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--time-animation);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent);
}

.form-footer__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: #ffffff;
}

.form-footer__subscription {
  display: flex;
}

.form-footer__input {
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--white-color);

  outline: none;
  transition: border-color 250ms var(--time-animation);
}

.form-footer__input:focus {
  border-color: var(--accent);
}

.form-footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);

  color: rgba(255, 255, 255, 0.6);
}

.form-footer__button {
  padding: 10px 28px 10px 29px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  border: none;

  transition: background-color 250ms var(--time-animation);
}

.form-footer__button:focus,
.form-footer__button:hover {
  background-color: #188ce8;
}

.form-footer__button-text {
  margin-right: 10px;
}

/* hero */
.hero {
  background-color: #2f303a;
  min-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;

  color: var(--white-color);
  background-color: var(--accent);
  border: 1px solid transparent;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--time-animation);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}

/* Features */
.features__list {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;

  color: var(--secondary-color-text);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

/* What are we doing */

.working__title {
  margin-bottom: 50px;

  color: var(--secondary-color-text);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.working__list {
  display: flex;
  justify-content: space-between;
}

.working__thumb {
  position: relative;
}

.working__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */
.team {
  display: flex;
  justify-content: space-between;
}

.our-team {
  /* min-width: 1600px; */
  background-color: var(--secondary-background-color);
}

.team-title {
  margin-bottom: 50px;

  color: var(--secondary-color-text);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-name {
  margin-bottom: 10px;

  color: var(--secondary-color-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-speciality {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 16px;
}

/* .team-social .list {
  display: flex;
} */

.team-icon {
  fill: #afb1b8;

  transition: fill 250ms var(--time-animation);
}

.team-list .item:not(:last-child) {
  margin-right: 10px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);

  transition: background-color 250ms var(--time-animation);
}

.link-team:hover,
.link-team:focus {
  background-color: var(--accent);
}

.link-team:hover .team-icon,
.link-team:focus .team-icon {
  fill: var(--white-color);
}

.card-person-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
}

.card-person {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

/* clients */
.clients-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color-text);

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-list .link-client {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  width: 170px;
  height: 92px;

  transition: border-color 250ms var(--time-animation);
}

.clients-icon {
  fill: #afb1b8;

  transition: fill 250ms var(--time-animation);
}

.clients-list .link-client:focus,
.clients-list .link-client:hover {
  border: 1px solid var(--accent);
}

.clients-list .link-client:focus .clients-icon,
.clients-list .link-client:hover .clients-icon {
  fill: var(--accent);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

/* page portfolio */
.buttons-portfolio {
  display: flex;
  justify-content: center;
}

.buttons-portfolio .item:not(:last-child) {
  margin-right: 8px;
}

.buttons-portfolio .filter {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
  color: var(--secondary-color-text);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: background-color 250ms var(--time-animation), color 250ms var(--time-animation),
    box-shadow 250ms var(--time-animation);
}

.buttons-portfolio .filter:hover,
.buttons-portfolio .filter:focus {
  border: 1px solid transparent;

  background-color: var(--accent);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-portfolio {
  margin-bottom: 50px;
}

/* Products */
.card-link {
  display: block;
  color: inherit;
  text-decoration: none;

  transition: box-shadow 250ms var(--time-animation);
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.products .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.products-title {
  margin-bottom: 4px;

  color: var(--secondary-color-text);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.products-type {
  font-size: 16px;
  line-height: 1.87;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-text {
  font-size: 18px;
  line-height: calc(28 / 18);

  padding: 63px 24px;

  color: var(--white-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--time-animation);
}

.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translateY(0);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--time-animation), visibility 250ms var(--time-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(-0.7);
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms var(--time-animation), opacity 250ms var(--time-animation),
    visibility 250ms var(--time-animation);

  min-width: 528px;
  min-height: 581px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
}

.close {
  display: block;
  fill: #000000;

  transition: fill 250ms var(--time-animation);
}

.close-modal:hover .close,
.close-modal:focus .close {
  fill: var(--accent);
}

.modal-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;

  color: var(--secondary-color-text);
}

.form {
  padding: 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-checkbox {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
  padding: 12px 0 12px 42px;

  height: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--secondary-color-text);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--time-animation);
}

.form-input:focus {
  border-color: var(--accent);
}

.form-textarea {
  padding: 12px 16px;

  height: 120px;

  resize: none;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--secondary-color-text);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--time-animation);
}

.form-textarea:focus {
  border-color: var(--accent);
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--primary-color-text);
}

.label-checkbox {
  display: inline-flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  color: var(--primary-color-text);
}

.policy {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  text-decoration-line: underline;

  color: var(--accent);

  margin-left: 5px;
}

.modal-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;

  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--white-color);

  transition: background-color 250ms var(--time-animation);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #188ce8;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input-thumb {
  display: block;
  position: relative;
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--secondary-color-text);

  transition: fill 250ms var(--time-animation);
}

.form-input:focus + .form-input-icon {
  fill: var(--accent);
}

.label-checkbox::before {
  content: '';
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color-text);
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms var(--time-animation);
}

.checkbox:checked + .label-checkbox::before,
.checkbox:checked:focus + .label-checkbox::before {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: none;
  background-color: var(--accent);
  margin-right: 7px;
}

/* animation */
@keyframes current {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
